@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

.site {
  display: grid;
  justify-content: center;
}

.br {
  margin: 7rem;
}

.container {
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
}

.kyu1 {
  display: grid;
  justify-content: center;
  height: 5rem;
  width: 10rem;
  background: #362419;
  margin-left: 5%;
  margin-right: 5%;
}

.kyu2 {
  display: grid;
  justify-content: center;
  height: 5rem;
  width: 10rem;
  background: blue;
  margin-left: 5%;
  margin-right: 5%;
}

.kyu3 {
  display: grid;
  justify-content: center;
  height: 5rem;
  width: 10rem;
  background: green;
  margin-left: 5%;
  margin-right: 5%;
}

.kyu4 {
  display: grid;
  justify-content: center;
  height: 5rem;
  width: 10rem;
  background: linear-gradient(
    orange 0px,
    orange 33%,
    green 33%,
    green 66%,
    orange 66%,
    orange 100%
  );
  margin-left: 5%;
  margin-right: 5%;
}

.kyu5 {
  display: grid;
  justify-content: center;
  height: 5rem;
  width: 10rem;
  background: orange;
  margin-left: 5%;
  margin-right: 5%;
}

.kyu6 {
  display: grid;
  justify-content: center;
  height: 5rem;
  width: 10rem;
  background: linear-gradient(
    yellow 0px,
    yellow 33%,
    orange 33%,
    orange 66%,
    yellow 66%,
    yellow 100%
  );
  margin-left: 5%;
  margin-right: 5%;
}

.kyu7 {
  display: grid;
  justify-content: center;
  height: 5rem;
  width: 10rem;
  background: yellow;
  margin-left: 5%;
  margin-right: 5%;
}

.kyu8 {
  display: grid;
  justify-content: center;
  height: 5rem;
  width: 10rem;
  background: linear-gradient(
    white 0px,
    white 33%,
    yellow 33%,
    yellow 66%,
    white 66%,
    white 100%
  );
  margin-left: 5%;
  margin-right: 5%;
}

.container-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.btn {
  height: auto;
  font-size: medium;
  width: auto;
  border: none;
  background-color: transparent;
  transition: 250ms ease-in-out;
  font-family: "Fira Code", monospace;
}

.btn:hover {
  font-weight: bolder;
}

.disclaimer {
  font-family: "Fira Code", monospace;
  color: white;
}

.origin {
  text-decoration: none;
  color: crimson;
  font-family: "Fira Code", monospace;
  transition: 250ms ease-in-out;
}

.origin:hover {
  color: darkturquoise;
}
